NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_YmV0dGVyLXN0aW5ncmF5LTQyLmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_0x2UKv2W4K55PZnwYusbg8xkgQTmJ2Efa7eEUlQfcv

DATABASE_URL=postgresql://neondb_owner:npg_oD5CdFbtZhj1@ep-quiet-salad-as4fn58m-pooler.c-4.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
DIRECT_URL=postgresql://neondb_owner:npg_oD5CdFbtZhj1@ep-quiet-salad-as4fn58m.c-4.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
